body{
    padding: 10px 2rem 10px 2rem;
}

.header{
    text-align: center;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
}

.categories1{
    display: flex;
    gap: 1.5rem;
    color: red;
}

#related{
    color: rgb(76, 76, 76);
}

.content1{
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 2.5rem;
}

.header1{
    display: flex;
    padding: 10px 15rem 10px 15rem;
    gap: 1.5rem;
    align-items: baseline;
    color: grey;
}

div img{
    height: 16rem;
    width: 20rem;
}

img.img\.top {
    border-radius: 10px;
}

button img{
    height: 25px;
    width: 25px;
    padding-top: 5px;
    border-radius: 25px;
}

.footer-right {
    margin-left: 4.5rem;
}

.footer-left{
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer\.author {
    display: flex;
    align-items: center;
}

.main{
    display: flex;
    gap: 2.4rem;
    padding-top: 1rem;
    flex-wrap: wrap;
}

div#popular {
    border: 3px solid;
    padding: 10px 25px 10px 10px;
    border-radius: 15px;
    border-color: #ffcec8;
}

div#filters {
    border: 1px solid;
    padding: 8px;
    border-radius: 20%;
    border-color: lightgrey;
}

div#web {
    background: lightgrey;
    border-radius: 5px;
    padding: 5px;
    color: black;
}

button {
    border: 0px;
}

span {
    color: black;
}



